# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ------------------------
# Environments
# ------------------------
.venv/

# Data
.data/**
data/**
*.parquet
cpties-manifest.json
trades-manifest.json
tools/.data/**
